<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container page">
      <div class="row">
        <div class="col-12 col-md-8 order-2 order-md-1">
          <h1 class="page-heading">Sent</h1>
          <%- include('../partials/requests_header') %> <%
          requests.forEach((request)=>{ %>
          <div class="card page-card">
            <div class="card-title card-heading">
              <img
                class="thumbnail-img"
                src="<%= imagePath %>/<%= request.receiver.thumbnail %>"
                alt="<%= request.receiver.username %>"
              />
              <h3 class="card-heading-inline">
                <%= request.receiver.username %>
              </h3>
            </div>
            <div class="card-text">Your request is currently pending.</div>
          </div>
          <% }) %> <% if(requests.length == 0){ %>
          <h3 class="no-content">
            There are currently no projects to explore.
          </h3>
          <%} %>
        </div>
        <%- include('../partials/sidebar') %>
      </div>
    </div>
  </body>
</html>
