<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container page">
      <div class="row">
        <div class="col-12 col-md-8 order-2 order-md-1">
          <h1>Projects</h1>
          <a href="/projects/newProject" class="btn btn-success">New Project</a>
          <% projects.forEach(project =>{ %>
          <div class="card mt-4">
            <div class="card-body">
              <div class="card-title">
                <%= project._id %><br />
                <a href="/projects/<%=project._id%>"><%= project.name %></a>
              </div>
              <div class="card-title">Created by <%= project.creator %></div>
              <div class="card-subtitle text-muted mb-2">
                <%= project.createdAt.toLocaleDateString() %>
              </div>
              <div class="card-text"><%= project.description %></div>
              <a href="/projects/<%= project._id %>" class="btn btn-primary"
                >View Project</a
              ><a href="projects/edit/<%= project.id %>" class="btn btn-info"
                >Edit Project</a
              >
              <form
                action="/projects/<%= project.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">DELETE</button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
        <%- include('../partials/sidebar') %>
      </div>
    </div>
  </body>
</html>
