<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <div class="container page">
      <div class="row">
        <div class="col-12 col-md-8 order-2 order-md-1">
          <a href="/projects/<%= project._id %>"
            ><h1><%= project.name %></h1></a
          >

          <div class="card mt-4">
            <div class="card-body">
              <div class="card-title"><%= comment.author.username %></div>
              <div class="card-subtitle text-muted mb-2">
                <%= comment.createdAt.toLocaleDateString() %>
              </div>
              <div class="card-text"><%= comment.text %></div>
              <% if(comment.author._id.equals(user._id)){ %><a
                href="/projects/<%= project._id %>/posts/<%= post._id %>/comments/<%= comment._id %>/edit"
                class="btn btn-info"
                >Edit Comment</a
              >
              <a class="btn btn-danger">Delete Comment</a>
              <% } %>
            </div>
          </div>
        </div>
        <%- include('../../partials/sidebar') %>
      </div>
    </div>
  </body>
</html>
