<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <div class="container page">
      <div class="row">
        <div class="col-12 col-md-8 order-2 order-md-1">
          <div class="back-button mt-4">
            <a href="/projects/<%= project._id %>">
              <i class="fa-regular fa-circle-left"></i>
              <h2><%= project.name %></h2>
            </a>
          </div>
          <div class="card mt-4 page-card">
            <div class="card-body">
              <div class="card-title">
                <h4><%= post.author.username %></h4>
                <img
                  src="<%= imagePath %>/<%= post.author.thumbnail %>"
                  alt="<%= post.author.username %>"
                  class="thumbnail-img-sm"
                />
              </div>
              <div class="card-subtitle">
                <%= post.createdAt.toDateString() %>
              </div>

              <p class="card-text post-text"></p>
              <%= post.text %><% post.files.forEach((file)=> {%>
              <div>
                <img
                  class="post-image"
                  src="<%= imagePath %>/<%= file.url %>"
                  alt="<%= file.url %>"
                />
              </div>
              <%}) %> <% if(post.author._id.equals(user._id)||
              project.admin.equals(user._id) ){ %>
              <a href=" /projects/<%= project._id %>/posts/<%= post._id %>/edit"
                ><button class="form-button">Edit Post</button></a
              >
              <a
                href=" /projects/<%= project._id %>/posts/<%= post._id %>/delete"
                ><button class="form-button">Delete Post</button></a
              >
              <% } %>
              <form
                class="post-form"
                action="/projects/<%= project._id %>/posts/<%=post._id %>"
                method="POST"
              >
                <input
                  class="form-group post-form-textarea"
                  type="textarea"
                  name="text"
                />
                <button class="form-button" type="submit">Post</button>
              </form>
              <% post.comments.reverse().forEach((comment)=>{ %>
              <div class="card post-card">
                <div class="post-card-title">
                  <h4><%= comment.author.username %></h4>
                  <img
                    src="<%= imagePath %>/<%= comment.author.thumbnail %>"
                    alt="<%= comment.author.username %>"
                    class="thumbnail-img-sm"
                  />
                </div>
                <div class="post-card-subtitle">
                  <%= comment.createdAt.toDateString() %>
                </div>
                <p class="card-text post-text"><%= comment.text %></p>
                <% if(comment.author._id.equals(user._id) ||
                post.author._id.equals(user._id) ||
                project.admin._id.equals(user._id)){ %>
                <button class="form-button inner-card">Delete Comment</button>
                <% }%>
              </div>
              <% });%>
            </div>
          </div>
        </div>
        <%- include("../..//partials/sidebar") %>
      </div>
    </div>
  </body>
  <%- include('../../partials/script') %>
</html>
